.panel {
	margin: 2rem;
	border: 1rem solid grey;
	padding: 1rem 2rem;
}

.panel.date-time-panel {
	font-size: 2rem;

	color: white;
	background: black;
}

.date {
	font-family: Sans-Serif;
	font-weight: bold;
}

.time {
	font-family: monospace;
}

.date-day {
	color: red;
}
.date-date {
	color: green;
}
.date-month {
	color: yellow;
}
.date-year {
	color: blue;
}
.time-hr, .time-min, .time-am-pm {
	color: brown;
}